<html-import html-href="navigation/node.html"></html-import>
<dom-module id="navigation-list">
    <style>

    </style>
    <template>
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="logo-element">
                            <img is="img-ext" src="/images/credit-exchange-logo-250x60.png" style="max-width:180px">
                        </div>
                        <div class="mini-logo-element">
                            <img is="img-ext" src="/images/lendfoundry-blocks-1000.png" style="max-width:30px;">
                        </div>
                    </li>
                    <li class="nav-header nav-section-header">
                    </li>
                    <template is="dom-repeat" items="{{nodes}}">
                        <nav-node node="{{item}}" level="2"></nav-node>
                    </template>
                </ul>
            </div>
        </nav>
        <alloy-config id="config"></alloy-config>
    </template>
    <script>
        Polymer(
        {
            is: "navigation-list",
            ready: function()
            {
                var self = this;

                if (window.jQuery)
                {
                    self.init();
                }
                else
                {
                    window.addEventListener("WebComponentsReady", self.init);
                }
            },
            init: function()
            {
                var self = this;
                self.configuration = self.$.config.getAppConfiguration("navigation");
                self.nodes = self.configuration.nodes;
            }
        });
    </script>
</dom-module>
