<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">

<dom-module id="general-expenses">
  <template>
    <style include="shared-styles">
      :host {
        display: table;
        margin: 0 auto !important;
        width: 100%
      }
      span,
      input {
        @apply(--paper-font-body2);
      }

.container {
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

 label {
   position: absolute;
   top: 25px;
 }

 h3{
   position: absolute;
   top: 5px;
   left: 94%;
 }
 .small-logo{
  margin-left: 15px;
}
.dropdown {
  position: absolute;
  top: -10px;
  left: 320px;
}
paper-slider.orange {
  --paper-slider-knob-color: var(--paper-orange-500);
  --paper-slider-active-color: var(--paper-orange-500);
  --paper-slider-pin-color: var(--paper-orange-700);
  --paper-slider-height: 8px;
  width: 60%;
  position: absolute;
  top: 15px;
  left: 300px;
}

    </style>

    <div >
      <span style="padding-top: 150px"></span>


        <h4 class="center" > A little about expenses</h4>
        <span style="padding-top: 150px"></span>

        <div class="center" style="width:100%">


          <paper-material class="container" >
            <iron-image class="small-logo" sizing="contain"  src="/images/home.png"></iron-image>
            <label > RESIDENCE TYPE</label>

            <paper-dropdown-menu class="dropdown" label="Select an option">
              <paper-listbox class="dropdown-content">
                <paper-item>Owned - Self</paper-item>
                <paper-item>Owned - Family</paper-item>
                <paper-item>Rented - Family</paper-item>
                <paper-item>Rented - Friends</paper-item>
                <paper-item>PG/HOSTEL</paper-item>
              </paper-listbox>
            </paper-dropdown-menu>
          </paper-material>

          <paper-material class="container" >
            <iron-image class="small-logo" sizing="contain"  src="/images/emi.png"></iron-image>
            <label> EMI</label>

            <paper-slider
            id="emiAmountSlider"
            class="center orange"
            update
            snaps  max-markers="10"
            expand step="100"
            min="{{minAllowedAmount}}"
            max="{{maxAllowedAmount}}"
            value="{{emiAmount}}"></paper-slider>

            <h3>{{emiAmount}}</h3>


          </paper-material>

          <paper-material class="container" >
            <iron-image class="small-logo" sizing="contain"  src="/images/expenses.png"></iron-image>
            <label> MONTHLY EXPENSES</label>

            <paper-slider
            id="monthlyExpensesSlider"
            class="center orange"
            update
            snaps  max-markers="10"
            expand step="100"
            min="{{minAllowedAmount}}"
            max="{{maxAllowedAmount}}"
            value="{{monthlyExpenses}}"></paper-slider>

            <h3>{{monthlyExpenses}}</h3>

          </paper-material>

          <paper-material class="container" >
            <iron-image class="small-logo" sizing="contain"  src="/images/cc.png"></iron-image>
            <label> CREDIT CARD BALANCES</label>
            <paper-slider
            id="ccBalanceSlider"
            class="center orange"
            update
            snaps  max-markers="10"
            expand step="100"
            min="{{minAllowedAmount}}"
            max="{{maxAllowedAmount}}"
            value="{{ccBalance}}"></paper-slider>

            <h3>{{ccBalance}}</h3>

          </paper-material>


        </div>

       <span style="float: right; margin-right: 15px; font-size: 15px; font-weight: bold;">  {{total(ccBalance, monthlyExpenses,  emiAmount)}} </span>
       <span class="center">
         <paper-button style="margin-top: 20px" class="indigo" raised on-click="next"> Next </paper-button>
       </span>

        <span style="padding-top: 150px"></span>


    </div>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'general-expenses',
        next: function (event) {
          page('/personal-details');
        },
        total: function (a,b,c) {
          return a + b + c;
        },
        properties: {
          greeting: {
            type: String,
            value: 'Welcome!',
            notify: true
          },
          maxAllowedAmount: {
            type: Number,
            value: 50000,
            notify: true
          },
          minAllowedAmount: {
            type: Number,
            value: 100,
            notify: true
          },    formatCurrency: function (input, currency, precision) {
                  	if (isNaN(input)) {
                  		return "Value is not a Number";
                  	} else {
                  		currency = currency || "$";
                  		precision = precision || 2;

                  		input = Number(input);
                  		input = input.toFixed(precision);
                  	}

                  	var
                  		parts = input.split('.'),
                      fnum = parts[0],
                  	 	fnumEnding = fnum.lenght < 4 ? 0 : parts[0],
                  	 	decimal = parts[1] ? '.' + parts[1] : '';

                      if(fnumEnding){
                        fnum = fnum.substring(0, fnum.length - 3);
                        fnumEnding = ',' + fnumEnding.substring(fnum.length);
                      } else {
                        fnumEnding = '';
                      }

                  	return currency + ' ' + fnum.replace(/(\d)(?=(?:\d{2})+$)/g, '$1,') + fnumEnding + decimal;
                  },
          options: {
            type: Array,
            value: [{
              title: 'TRAVEL',
              image: '/images/plan.png'
            },{
              title: 'VEHICAL PURCHASE',
              image: '/images/car.png'
            },{
              title: 'MEDICAL',
              image: '/images/medical.png'
            },{
              title: 'LOAN REFINANCING',
              image: '/images/documents.png'
            },{
              title: 'EDUCATION',
              image: '/images/education.png'
            },{
              title: 'HOME IMPORVEMENT',
              image: '/images/house.png'
            }
          ],
            notify: true
          }
        }
      });
    })();
  </script>
</dom-module>
