<!--<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">-->

<!-- shared styles for all elements and index.html -->
<dom-module id="shared-styles">
  <template>
    <style>
      .page-title {
        @apply(--paper-font-display2);
      }

      .app-menu {
        --paper-menu-selected-item: {
          color: #fff;
          background: var(--light-primary-color);
        }
      }

      paper-menu a > *, paper-menu paper-item > *, paper-menu paper-icon-item > * {
        pointer-events: none;
      }

      /*This class centers elements, used through out the application*/
      .center{
        display: table;
        margin: 0 auto !important;
      }


      .input-control {
        margin-left: 5px;
        margin-right: 5px;

      }

      .logo {
        margin-right: 15px;
        width: 64px;
        height: 64px;
      }

      .small-logo {
        margin-right: 15px;
        width: 46px;
        height: 46px;
      }

      .mini-logo {
        margin-right: 15px;
        width: 32px;
        height: 32px;
      }

      .indigo{
        background-color: var(--paper-blue-200);
        width: 200px;
        height: 40px;
      }
      @media (max-width: 600px) {
        .page-title {
          font-size: 24px!important;
        }
      }
    </style>
  </template>
</dom-module>
