<html-import html-href="notification/tray.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/http/request.html"></html-import>
<dom-module id="profile-summary">
	<template>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<span class="m-r-sm text-muted welcome-message">Hello <span>{{username}}</span> </span>
			</li>
			<li class="dropdown">
				<notification-tray></notification-tray>
			</li>
			<li>
				<a on-click="logout">
	                <i class="fa fa-sign-out"></i> Log out
	            </a>
			</li>
		</ul>
		<http-request-x id="http"></http-request-x>
        <identity-service id="identity"></identity-service>
	</template>
	<script>
		Polymer({
			is : 'profile-summary',
			attached: function() {
				var self = this;

				function loadUser () {
					if(self.$.http.get){
						self.$.http.get("/", window.config.services.security)
						.then(function(user) {
							self.username = user.username;
						});
					}else {
						setTimeout(loadUser, 100);
					}

				}

			 loadUser();


			},
            logout: function() {
                this.$.identity.logout();
            }
		});
	</script>
</dom-module>
