<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">

<dom-module id="amount-offered">
  <template>
    <style include="shared-styles">
      :host {
        display: table;
        margin: 0 auto !important;
      }
      span,
      input {
        @apply(--paper-font-body2);
      }



      .large-title{
        padding-bottom: 60px;
        padding-top: 10px;
        font-size: 40px;
      }

      .lend-logo{
        width:430px;
        height:120px;
      }

    </style>

    <div on-click="next">
      <span style="padding: 150px"></span>
      <iron-image class="center lend-logo"  sizing="contain"
        src="/images/offer.png"></iron-image>

        <h2 class="center large-title" >CONGRATULATIONS!</h2>


        <p class="center" >You are eligible for a loan of <b>`2,50,000</b></p>
        <span style="padding: 150px"></span>
    </div>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'amount-offered',
        next: function (event) {
          page('/amount-required');
        },
        properties: {
          greeting: {
            type: String,
            value: 'Welcome!',
            notify: true
          }
        }
      });
    })();
  </script>
</dom-module>
