@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,400i,500,700';
body {
    color: #4e4e4e;
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.7em;
}

.container {
    max-width: 1280px;
}

h1,
h2,
h3,
h4,
.navbar-nav>li>a,
a,
button {
    font-family: "proxima-nova", sans-serif;
    letter-spacing: 0.075em;
    line-height: 1.7em;
}

button.btn {
    letter-spacing: 0.16em;
    font-size: 13px;
    text-transform: uppercase;
}

a {
    color: #79cdd5
}

a:focus,
a:hover {
    outline: 0;
    color: #79cdd5;
    font-style: underline;
}

select optgroup option {
    padding-left: 10px;
}

select optgroup {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: normal;
}

.ce-range-slider .ui-slider-handle {
    outline: 0;
}

.row {
    margin: 0;
}

.btn.btn-default {
    background: #79cdd5 none repeat scroll 0 0;
    border-color: #79cdd5;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}


/*------------------------------------------Header--------------------------------------------------*/

header.navbar {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    height: 50px;
}

header.navbar .container {
    max-width: inherit;
    width: auto;
    padding: 0 20px;
}

.navbar-header a#logo {
    float: right;
    margin: 4px 0 0;
}

.navbar-nav>li>a,
.navbar-nav>li>span {
    line-height: 50px;
    padding: 0 10px;
    font-size: 13px;
    letter-spacing: 0.085em;
    color: #adadad;
    text-transform: none;
}

.navbar-nav>li>a {
    color: #79cdd5;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav>li>a.active {
    background-color: #fff;
    color: #79cdd5;
}


/*------------------------------------------Loan apply Page--------------------------------------------------*/

body.ce-loan-apply {
    background: #f9f9f9;
}

.ce-loan-apply-container {
    margin: 0;
}


/*------------------------------------------Loan Steps Col--------------------------------------------------*/

.loan-steps {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.loan-steps>li {
    position: relative;
    height: 100px;
    padding: 0 0 0 45px;
}

.loan-steps>li .step-number {
    border: 1px solid #9da0a0;
    border-radius: 50%;
    color: #9da0a0;
    height: 35px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    width: 35px;
    background: #f9f9f9;
    z-index: 90;
    top: 0;
    left: 0;
    font-size: 13px;
    font-weight: 400;
}

.loan-steps>li:last-child {
    height: auto;
}

.loan-steps>li.completed .step-number {
    border-color: #80c2c8;
    color: #80c2c8
}

.loan-steps-container {
    position: relative;
}

.loan-steps-container span.step-progress-bar {
    background: none;
    height: 100%;
    left: 16px;
    position: absolute;
    top: 0;
    width: 2px;
    border-right: 1px dashed #cfd0d0;
}

.loan-steps-container span.step-progress-bar span {
    background: #80c2c8;
    height: 0%;
    left: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

.loan-steps-container span.step-progress-bar span::after {
    bottom: 0;
    color: #80c2c8;
    content: ".";
    font-size: 80px;
    left: -8px;
    line-height: 38px;
    position: absolute;
}

.loan-steps>li>label {
    color: #989898;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 35px;
    text-transform: uppercase;
    margin: 0;
}

.loan-steps>li.completed>label {
    color: #79cdd5;
}


/*------------------------------------------Loan Right Col info--------------------------------------------------*/

.loan-rel-info {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.3em;
    color: #9da0a0;
    padding: 30px;
}

.loan-rel-info p {
    margin-left: 30px;
}

.loan-rel-info .loan-faq p {
    margin-left: 0;
    color: #565656;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
}

.loan-rel-info .loan-faq h3 {
    margin-bottom: 10px;
}

.loan-rel-info h3 {
    line-height: 20px;
    margin: 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #444444;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.125em;
}

.loan-rel-info h3 i.icon {
    background: url("../images/loan-apply-info-col-icons.png") repeat scroll 0 0;
    height: 20px;
    margin: 0 10px 0 0;
    width: 20px;
    float: left;
}

.loan-rel-info h3 i.icon.icon2 {
    background-position: 0 -20px
}

.loan-rel-info h3 i.icon.icon3 {
    background-position: 0 -40px
}

.loan-rel-info h3 i.icon.icon4 {
    background-position: 0 -60px
}

.loan-rel-info-col {
    border-bottom: 1px solid #9da0a0;
    margin: 0 0 15px;
    padding: 0 0 15px;
}

.loan-rel-info-col:last-child {
    border-bottom: 0 none;
}

.loan-rel-info-col.loan-faq .answer {
    display: none;
    color: #888888;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: -7px;
}


/*------------------------------------------Loan Apply SLides--------------------------------------------------*/

.ce-loan-apply-slides {
    padding: 30px 0;
}

.loan-steps-container {
    padding: 0;
    margin: 30px 15px
}

.ce-loan-apply-slides {
    background: #fff none repeat scroll 0 0;
}

.ce-loan-apply-slide {
    text-align: center;
    position: relative;
}

.ce-loan-apply-slide>h2 {
    font-size: 21px;
    font-weight: normal;
    letter-spacing: 0.025em;
    margin-top: 25px;
    padding: 0 70px;
    line-height: normal;
}

.ce-loan-apply-slide>p {
    font-size: 13px;
    line-height: 1em;
    margin: 18px 0 0 10px;
    padding: 0;
    letter-spacing: 0.025em;
}

.ce-loan-apply-slide .slide-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    min-height: 200px;
    padding: 30px;
    text-align: left;
}

.ce-range-slider.ui-widget.ui-widget-content {
    background: #e4e4e4 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 10px;
    height: 8px;
    margin: 10px 0 0;
}

.ce-range-slider .ui-slider-handle {
    background: #fff url("../images/ce-slider-handle-icon.png") no-repeat scroll center center;
    border: 0 none;
    border-radius: 50%;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.5);
    top: -7px;
}

.ce-range-slider.ui-slider-horizontal .ui-slider-range {
    background: #79cdd5 none repeat scroll 0 0;
}

.ce-range-value {
    float: left;
    margin: 10px 0 5px 0;
    width: 100%;
}

.ce-range-value label {
    color: #9da0a0;
    font-weight: 500;
}

.ce-loan-apply-slide .ce-range-slider-result .form-control {
    text-align: center;
}

.ce-loan-apply-slide input.form-control,
.login-popup input.form-control {
    border-color: #c9c9c9;
    border-radius: 0;
    border-width: 0 0 1px;
    box-shadow: 0 0;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
}

.ce-loan-apply-slide input.form-control.prominent-input {
    font-size: 18px;
    font-weight: 800;
}

.ce-loan-apply-slide select.form-control:focus {
    border-color: #ceeff5;
    box-shadow: none;
    outline: medium none;
}

.ce-loan-apply-slide .form-control:focus {
    border-bottom: 1px solid #ceeff5;
    box-shadow: none;
    outline: medium none;
}

.ce-loan-apply-slide .btn.btn-default {
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 1.8em;
    width: 200px;
}

.slide-box.slide-loan-amount {
    width: 450px;
}

.slide-loan-perpose {
    margin: 30px 0;
}

.ce-loan-apply-slide .slide-thumb {
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0 20px 20px;
    overflow: hidden;
    width: 140px;
    background: #fff none repeat scroll 0 0;
    transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.02s;
}

.ce-loan-apply-slide .slide-thumb-bg {
    background: #79cdd5 none repeat scroll 0 0;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    transform: scale(0);
    transition: all 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
    width: 100%;
}

.slide-thumb .slide-thumb-icon {
    height: 100px;
    position: relative;
    transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
}

.ce-loan-apply-slide .slide-thumb:hover,
.slide-thumb.selected .slide-thumb {
    transform: scale(1.2);
}

.ce-loan-apply-slide .slide-thumb:hover .slide-thumb-bg,
.slide-thumb.selected .slide-thumb-bg {
    border-radius: 10px 10px 0 0;
    transform: scale(1);
}

.slide-thumb .slide-thumb-icon span.icon {
    background: rgba(0, 0, 0, 0) url("../images/ce-slider-option-icons.svg") no-repeat scroll center 0;
    display: inline-block;
    height: 60px;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.slide-thumb .slide-thumb-icon span.icon.icon2 {
    background-position: center -60px
}

.slide-thumb .slide-thumb-icon span.icon.icon3 {
    background-position: center -120px
}

.slide-thumb .slide-thumb-icon span.icon.icon4 {
    background-position: center -180px
}

.slide-thumb .slide-thumb-icon span.icon.icon5 {
    background-position: center -240px
}

.slide-thumb .slide-thumb-icon span.icon.icon6 {
    background-position: center -300px
}

.slide-thumb .slide-thumb-icon span.icon.icon7 {
    background-position: center -780px
}

.slide-thumb .slide-thumb-icon span.icon.icon8 {
    background-position: center -840px
}

.slide-thumb .slide-thumb-text {
    display: table;
    width: 100%;
}

.slide-thumb .slide-thumb-text label {
    display: table-cell;
    font-weight: 600;
    height: 50px;
    line-height: 16px;
    margin: 0;
    padding: 8px 5px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
}

.ce-loan-apply-slide .ce-slide-link {
    font-weight: 500;
}

.form-group.ce-loan-perpose-text {
    margin: 15px auto;
    width: 400px;
}

.ce-loan-apply-slide .form-group {
    text-align: left;
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
    font-size: 14px;
}

.form-control:-ms-input-placeholder {
    color: #999;
    font-size: 14px;
}

.form-control::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
}

.form-group.input-label-anim {
    padding-top: 20px;
    position: relative;
}

.form-group.input-label-anim .control-label {
    line-height: normal;
    position: absolute;
    top: 30px;
    transition: all 240ms ease 0s;
    z-index: 10;
    opacity: 1;
    color: #79cdd5;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.025em;
    margin-bottom: 0;
    text-transform: capitalize;
}

.smaller-case-text {
    text-transform: none!important;
}

.form-group .control-label {
    line-height: normal;
    transition: all 240ms ease 0s;
    z-index: 10;
    opacity: 1;
    color: #79cdd5;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.025em;
    margin-bottom: 0;
    text-transform: capitalize;
    ;
}

.form-group.input-label-anim .control-label.label-up {
    top: 0;
}

.form-group.input-label-anim .form-control {
    position: relative;
    z-index: 20;
    background: #fff;
    opacity: 1
}

.slide-box-icon {
    background: url(../images/ce-slider-option-icons.svg) 0 -360px;
    height: 60px;
    width: 80px;
    margin: 0 auto;
    transform: scale(1.2);
    margin-bottom: 30px;
}

.slide-box-icon.adhar-card-icon {
    background: url(../images/adhar-card-icon.png) no-repeat 10px 0;
}

.slide-box-icon.loan-amount-icon {
    background-position: 0 -480px;
}

a.edit-mobile-link {
    background: url(../images/edit-mobile-icon.png) no-repeat right 0;
    padding-right: 20px;
    font-weight: 700;
    margin: 0 5px;
    color: #4e4e4e
}

.form-group .help-block {
    color: #9da0a0;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    margin-bottom: 0;
}

.ce-more-info-link .fa.fa-info {
    background: #79cdd5 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    line-height: 17px;
    margin: 0 0 0 5px;
    text-align: center;
    text-indent: 3px;
    width: 16px;
}

.tooltip.bottom .tooltip-inner {
    min-width: 250px;
    width: 400px;
    padding: 3px 8px;
    text-align: center;
    background-color: #fff;
    color: #303030;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #fff;
}

.nav-tabs>li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 5px solid #eaeaea;
    float: left;
    margin-bottom: -5px;
    padding: 0;
}

.ce-navtab .nav-tabs>li>a {
    border-radius: 0;
    border: 0;
    font-size: 14px;
    padding: 5px 0 12px;
    text-transform: uppercase;
    color: #4e4e4e;
    text-align: center;
}

.ce-navtab .nav-tabs>li.active {
    border-color: #79cdd5;
    font-weight: 700;
}

.ce-navtab .nav-tabs>li.active>a,
.ce-navtab .nav-tabs>li.active>a:hover,
.ce-navtab .nav-tabs>li.active>a:focus {
    border: 0;
}

.ce-navtab .nav-tabs {
    border-bottom: 5px solid #eaeaea;
    margin-bottom: 15px;
}

.switch-buttons .btn-group {
    display: block;
}

.switch-buttons .btn {
    background: #fff none repeat scroll 0 0;
    border-color: #dadada;
    color: #303030;
    height: 40px;
    line-height: 40px;
    padding: 0;
}

.switch-buttons .btn.active {
    background: rgba(121, 205, 213, 0.15) none repeat scroll 0 0;
    border-color: #79cdd5;
    box-shadow: 0 0;
    color: #79cdd5;
}

.form-group .control-label .help-block {
    display: inline-block;
    margin: 0 0 0 4px;
    font-size: 12px;
}

.slide-box.detail-verify-list {
    padding: 0;
    text-align: left;
}

.slide-box.detail-verify-list .d-v-hdr {
    background: #e9f7f8 none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    color: #64acaf;
    padding: 5px 20px;
}

.slide-box.detail-verify-list label {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;
    color: #9ca3a9;
    line-height: 16px;
}

.detail-verify-list .editable-col {
    position: relative;
}

.detail-verify-list .editable-col .form-control {
    position: absolute;
    top: 0;
    height: 30px;
    display: none;
}

.detail-verify-list .col-sm-3:hover .edit-inline-link,
.detail-verify-list .col-sm-4:hover .edit-inline-link,
.detail-verify-list .col-sm-12:hover .edit-inline-link {
    display: inline-block
}

.edit-inline-link {
    background: rgba(0, 0, 0, 0) url("../images/edit-icon-b.png") no-repeat scroll 0 0 / cover;
    display: inline-block;
    height: 15px;
    margin: 0 0 0 15px;
    width: 15px;
}

.terms-list {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
    text-align: left;
}

.terms-list li {
    padding: 0;
}

.terms-list .checkbox input {
    margin-top: 6px;
}

.slide-box.slide-verification-box {
    max-width: 580px;
}

.verification-steps-content {
    position: relative;
}

.verification-steps {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 99;
}

.verification-steps li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 9%;
    padding-top: 90px;
    position: relative;
    width: 26px;
}

.verification-steps li .icon.icon-circle {
    border: 1px solid #9da0a0;
    background: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
}

.verification-steps li .verification-step-icon {
    font-size: 14px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100px;
}

.verification-steps li .verification-step-icon>span {
    background: rgba(0, 0, 0, 0) url("../images/verification-steps-icons.png") repeat scroll 0 0;
    display: inline-block;
    height: 60px;
    margin-bottom: 5px;
    vertical-align: top;
    width: 60px;
}

.verification-steps li .verification-step-icon.icon2>span {
    background-position: 0 -60px;
}

.verification-steps li .verification-step-icon.icon3>span {
    background-position: 0 -120px;
}

.verification-steps li .verification-step-icon.icon4>span {
    background-position: 0 -180px;
}

.verification-steps li .verification-step-icon>label {
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 0;
    text-transform: uppercase;
    vertical-align: top;
}

.verification-steps-line {
    background: #b0b0b0 none repeat scroll 0 0;
    bottom: 22px;
    height: 1px;
    margin: 0 14%;
    position: absolute;
    width: 72%;
}

.verification-steps-line div {
    height: 1px;
    background: #79cdd5;
}

.verification-steps li.verified .icon.icon-circle {
    background: #fff url('../images/verification-steps-verified.png') no-repeat center center;
    border-color: #79cdd5
}

.verification-steps li.current .icon.icon-circle {
    background: #fff url('../images/verification-steps-current.png') no-repeat center center;
    border-color: #79cdd5
}

.list-group.document-upload-list {
    margin: 20px 0 0;
}

.list-group.document-upload-list li {
    font-size: 14px;
    padding: 4px 20px;
}

.list-group.document-upload-list .badge {
    background: #80c2c8 none repeat scroll 0 0;
    border-radius: 50%;
    content: "x";
    font-size: 16px;
    font-weight: 200;
    height: 20px;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: 4px;
    padding: 0;
    text-align: center;
    width: 20px;
}

.list-group.document-upload-list .progress {
    height: 5px;
    margin: 5px 0 9px;
}

.list-group.document-upload-list .progress .progress-bar {
    background-color: #79cdd5;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

.list-group.document-upload-list li.button-set {
    background: #f9f9f9 none repeat scroll 0 0;
    text-align: center;
}

.list-group.document-upload-list li.button-set a {
    display: block;
}

.list-group.document-upload-list li.button-set {
    background: #f9f9f9 none repeat scroll 0 0;
    text-align: center;
}

.slide-adhar-card .aadhaar-other-option {
    border-top: 1px solid #c9c9c9;
    padding: 20px 0 0;
    text-align: center;
}

.congratulations-text {
    text-align: center;
}

.congratulations-icon {
    background-position: 0 -540px;
    transform: scale(1.5);
    margin: 30px auto 50px;
}

.congratulations-text strong {
    font-size: 22px;
}

.congratulations-text {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;
    text-align: center;
}

.slide-box.slide-disbursement {
    background: rgba(121, 205, 213, 0.15);
    border: 1px solid #79cdd5;
    color: #215387;
    width: 550px;
    text-align: center;
}

.disbursement-amount {
    margin-bottom: 8px;
}

.slide-box.slide-disbursement p {
    font-size: 18px;
    font-weight: 500;
}

.slide-box.slide-disbursement .disbursement-amount p {
    font-size: 30px;
}

.disbursement-icon {
    background-position: 0 -420px;
    transform: scale(1.5);
    margin: 30px auto 50px;
}

.Verification-icon {
    background-position: 0 -660px;
    transform: scale(1.5);
    margin: 30px auto 50px;
}

.verification-pending-icon {
    background-position: 0 -660px;
    transform: scale(1.5);
    margin: 30px auto 50px;
}

.rejection-icon {
    background-position: 0 -600px;
    transform: scale(1.5);
    margin: 30px auto 50px;
}

.loan-loader-icon {
    background-position: 0 -720px;
    transform: scale(1.5);
    margin: 30px auto 50px;
}

.laon-approved-icon {
    background-position: 0 -780px;
    transform: scale(1.5);
    margin: 30px auto 50px;
}

.slide-box p.sm-statement {
    float: left;
    font-size: 12px;
    line-height: normal;
    margin: 30px 0 0;
    width: 100%;
}

.document-upload-list .fa.fa-upload {
    margin: 0 10px 0 0;
}

.ce-loan-apply-container .col-sm-6 {
    background: #fff;
}

.ce-loan-review-slide {
    padding: 0 30px;
}

.banking-info-para {
    color: #79cdd5;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.025em;
    margin: 20px 0;
    line-height: normal;
    text-align: center;
}

span.or-option {
    background: #ebf8f9 none repeat scroll 0 0;
    border-radius: 50%;
    color: #79cdd5;
    font-size: 13px;
    font-weight: 600;
    height: 24px;
    left: 50%;
    line-height: 22px;
    margin-left: -12px;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 24px;
    text-transform: uppercase;
    z-index: 99;
    border: 1px solid #79cdd5;
}

.answer>ul {
    margin: 0;
    padding: 15px 0 0 15px;
}

.answer>ul li {
    list-style: outside none decimal;
    margin-bottom: 4px;
}

.slide-controler {
    height: 20px;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    top: -4px;
}

.slide-controler .arrow {
    color: #9da0a0;
    font-size: 45px;
    font-weight: 200;
    letter-spacing: 1.2px;
    line-height: 35px;
    margin: 0;
    opacity: 0.4;
    text-transform: uppercase;
    transform: scaleX(0.8);
    position: absolute;
    text-decoration: none;
}

.arrow.arrow-left {
    left: 30px;
}

.arrow.arrow-right {
    right: 30px;
}

.arrow.arrow-right::before {
    content: ">";
}

.arrow.arrow-left::before {
    content: "<";
}

.disbursement-table {
    text-align: left;
    width: 100%;
}

.disbursement-table tr:nth-child(2n) {
    background: #fff none repeat scroll 0 0;
}

.disbursement-table tr td {
    padding: 5px;
    cursor: pointer
}

.disbursement-table tr td p {
    margin: 0px;
}

.disbursement-table .radio {
    margin: 0;
    min-height: 15px;
}

.disbursement-table .radio input {
    margin: 0;
}

.slide-box.slide-loan-amount.expenses-slide-box {
    width: 520px;
}

.return-user-container {
    padding: 0;
    background: #fff;
    min-height: 500px;
    font-size: 14px;
}

.ruer-notification {
    background: #fdf7e5 none repeat scroll 0 0;
    border: 1px solid #efe4b1;
    margin: -1px 0 0;
    position: relative;
    z-index: 9999;
    padding: 5px 50px;
}

.ruer-notification h2 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.ruer-notification>div {
    line-height: normal;
    padding: 0 0 0 40px;
}

.ruer-notification span.icon,
.ruser-tabs .icon {
    background: #fef0b7 none repeat scroll 0 0;
    border: 1px solid #ecda96;
    border-radius: 50%;
    color: #d0ab2e;
    float: left;
    font-weight: 700;
    height: 25px;
    line-height: 25px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 25px;
}

.ruser-table-container {
    padding: 30px 50px;
}

.table.ruser-table tr th,
.table.ruser-table tr td {
    padding: 8px 20px;
}

.ruser-table .table-hdr>th {
    font-size: 20px;
}

.ruser-table .loan-info {
    float: right;
    font-weight: 300;
}

.ruser-table .loan-info label {
    background: #cdf2f3 none repeat scroll 0 0;
    border: 1px solid #36c3e3;
    color: #208397;
    border-radius: 12px;
    font-size: 14px;
    margin: 0 0 0 10px;
    padding: 1px 10px;
    text-transform: uppercase;
}

.ruser-table .table-hdr .chnage-password-link {
    float: right;
    font-size: 14px;
    font-weight: 300;
}

.ruser-tab-container {
    padding: 0 50px;
}

.ruser-tabs {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.ruser-tabs>li {
    border: 1px solid #ddd;
    color: #4e4e4e;
    display: inline-block;
    line-height: 35px;
    padding: 0 20px;
}

.ruser-tabs>li a {
    color: #4e4e4e;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.ruser-tabs .icon {
    display: inline-block;
    float: none;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin: 0 0 0 10px;
    width: 20px;
}

.ruser-tab-content .ruer-notification {
    padding: 10px 20px;
}

.button-set>a {
    background: #cdf1f6 none repeat scroll 0 0;
    border: 1px solid #36c3e3;
    border-radius: 10px;
    color: #36c3e3;
    padding: 5px 20px;
}

.yodlee-widget-container .slide-action {
    margin-top: 20px;
    text-align: center;
}

.yodlee-widget-container .bank-logo {
    border: 1px solid #ddd;
    padding: 20px 0;
    text-align: center;
}

.not-interested-link {
    display: inline-block;
    margin: 25px 0 0;
    text-transform: uppercase;
}

.signin-conatiner {
    width: 200px;
}

.login-popup {
    border: 0;
    border-top: 4px solid #79cdd5;
    min-width: 300px;
    padding: 10px 0 20px;
    border-radius: 0 0 5px 5px;
}

.login-popup button {
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 1.8em;
    width: 100%;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #79cdd5;
    border-color: #fff;
    color: #fff;
}

.btn-group.banking-verfi-options {
    display: table;
}

.btn-group.banking-verfi-options .btn {
    display: table-cell;
    float: none;
    height: 44px;
    line-height: normal;
    padding: 0 20px;
    position: initial;
    white-space: normal;
    width: 50%;
}

.form-group .row {
    margin-left: -15px;
    margin-right: -15px;
}

.kyc-doc-upload {
    font-size: 14px;
    line-height: normal;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
    border-width: 1px!important;
    display: table-cell;
    height: auto !important;
    line-height: normal!important;
}

.upload-group {
    margin: 15px 0 0
}

label.error {
    color: #ff0000;
}

body.ce-loan-apply {
    zoom: 100% !important
}

.ce-loan-apply-slides {
    min-height: 603px !important;
}

.margin10 {
    margin-right: 10px !important;
}