<dom-module id="group-unit">
    <style>
    </style>
    <template>
        <div id="host"></div>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
        <alloy-tenant id="tenant" alloy-tenant="{{tenantConfig}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "group-unit",
            properties: {
                config: {
                    type: String
                }
            },
            observers: ["loadUnit(config, configuration, tenantConfig)"],
            loadUnit: function(config, configuration, tenantConfig) {
                if (!config || !configuration || !tenantConfig) { return }
                var self = this;
                var href = config.src;
                var dependencies = config.dependencies;
                
                var host = Polymer.dom(this.$.host); 
                var base = this.configuration.base;
                var tenant = this.tenantConfig.name;
                var href = base + tenant + "/" + href;
                
                var childNodes = host.childNodes;
                
                for (var i = 0; i < childNodes.length; i++) {
                    host.removeChild(childNodes[i]);
                }
                
                this.importHref(href, function(e) {
                    var id = Polymer
                        .dom(e.target.import.body)
                        .querySelector("dom-module")
                        .getAttribute("id"); 
                    
                    // create the element with the provided parameters
                    var element = this.element = document.createElement(id);
                    this.async(function() {
                        this.fire("getDependencies", {
                            context: this,
                            dependencies: dependencies || []
                        });
                    }.bind(this), 100);

                    element.config = config;

                    // append created element
                    host.appendChild(element);
                    host.flush();
                }.bind(this));
                return;
            },
            setDependency: function(dependency, value) {
                this.element[dependency] = value;
            }
        });
    </script>
</dom-module>