<html-import html-href="app/dynamic-form/dynamic-form.html"></html-import>
<html-import html-href="document-manager/index.html"></html-import>
<html-import html-href="fact-verification/fact-details.html"></html-import>
<dom-module is="fact-verification">
    <style>
        .panel-body {
            min-height: 200px;
        }
        .nav-tabs {
            margin-bottom: -1px;
        }
    </style>
    <template>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <template is="dom-repeat" items="{{facts}}">
                                <li class$="[[_getTabClass(index)]]">
                                    <a data-toggle="tab" data-target$="{{_getFactName(item)}}">
                                        <i class="fa fa-user"></i>{{item.displayName}}
                                    </a>
                                </li>
                            </template>
                        </ul>
                        <div class="tab-content">
                            <template is="dom-repeat" items="{{facts}}" observe="item.initiated item.verifyButton">
                                <div id$="{{item.fact}}" class$="[[_getTabPanClass(index)]]">
                                    <template is="dom-if" if="{{_DisplayFactDetails(item)}}">
                                        <div class="panel-body">
                                            <h3>The fact {{item.displayName}} is verified.  Below are the verification details:</h3>
                                            <fact-details fact="{{item}}"></fact-details>
                                        </div>
                                    </template>
                                    <template is="dom-if" if="{{_ShouldDisplayButton(item)}}">
                                        <div class="panel-body">
                                            <h3>The fact {{item.displayName}}. Not initiated.</h3>
                                            <button class="btn btn-primary activity-action-btn" model$="{{item}}" on-click="_initiatFactVerification">Initiate Now</button>
                                        </div>
                                    </template>
                                    <template is="dom-if" if="{{_IsVerificationInitiated(item)}}">
                                        <div class="panel-body">
                                            <h3>The fact {{item.displayName}} verification initiated. You can verify now.</h3>
                                            <form is="iron-form" class="form-horizontal" name$="{{item.fact}}">
                                                <dynamic-form form-configuration={{item}} values="{{item.values}}"></dynamic-form><br/>
                                                <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Verify</paper-button>
                                            </form>
                                        </div>
                                    </template>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "fact-verification",
            _getTabClass: function (index) {
                return index === 0 ? 'active' : '';
            },
            _getTabPanClass: function (index) {
                return index === 0 ? 'tab-pane active' : 'tab-pane';
            },
            _getFactName: function (item) {
                return '#' + item.fact;
            },
            _DisplayFactDetails: function(item) {
                if(item.initiated === false && item.verifyButton === false){
                    return true;
                }
                return false;
            },
            _IsVerificationInitiated: function(item) {
                if(item.initiated){
                    return true;
                }
                return false;
            },
            _ShouldDisplayButton: function(item) {
                if(item.verifyButton){
                    return true;
                }
                return false;
            },
            _initiatFactVerification: function(event) {
                var self = this;
                var eventModel = event.model;
                var $element = $(event.target);
                var item = eventModel.get('item');
                var verificationEngine = window.config.services.verificationEngine;
                var url = "/application/" + self.applicationNumber + "/" + item.fact + "/initiate-manualverification";
                self.$.http.post(url, {}, verificationEngine).then(function(data){
                    $element.parent().hide();
                    $element.hide();
                    eventModel.set('item', $.extend({}, item, { initiated: true }));
                })
                .fail(function(e){
                    console.log("application error is ", e);
                });
            },
            _getAttemptStatus: function(attempts,methodSource){
                var attemptObj = attempts.filter(function(e){
                    return e.sourceName === methodSource;
                })[0];
                return attemptObj ? attemptObj.result : "None";
            },
            _verifyForm: function (event){
                event.preventDefault();
                var self = this;
                var item = event.model.__data__.item;
                var eventModel = event.model;
                var verificationEngine = window.config.services.verificationEngine;
                var form = Polymer.dom(event).localTarget.parentElement;
                if(form.validate()){
                    var payload = item.values;
                    var methodList = item.tabs;
                    if(methodList.length > 0){
                        var baseUrl = "/application/" + self.applicationNumber + "/";
                        var factInfo = item.fact + "/" + methodList[0].method + "/" + methodList[0].source;
                        var url = baseUrl + factInfo;
                        self.$.http.post(url, payload, verificationEngine).then(function(data){
                            data.verificationStatus = self._getAttemptStatus(data.attempts, methodList[0].source);
                            var requiredObj = { verificationSources: [], attempts: [], initiated: false, verifyButton: true };
                            eventModel.set('item', $.extend({}, eventModel.get('item'), self._checkVerificationStatus(data,requiredObj)));
                        })
                        .fail(function(e){
                            console.log("application error is ", e);
                        });
                    }
                }
            },
            _checkIfNullObject: function(obj){
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _transformFacts:function(facts, factConfig){
                var self = this;
                var result = facts.filter(function(e) {
                    return (e.methods = e.methods.filter( function(e) {
                        return (e.sources = e.sources.filter(function(e){
                            return e.type === 'Form';
                        })).length > 0;
                    })).length > 0;
                });

                var mapResult = result.map(function(e) {
                    return {
                        displayName: factConfig[e.name] != undefined ? factConfig[e.name].displayName : "",
                        fact: e.name.replace(/\W/g,''),
                        tabs: e.methods.map(function(e){
                            return {
                                method: e.name,
                                source: e.sources[0].name,
                                document: e.sources[0].settings.documentRequired
                            };
                        }),
                        initiated: false,
                        verifyButton: true,
                        values: {},
                        controls: factConfig[e.name] != undefined ? factConfig[e.name].controls : {}
                    }
                });

                var finalResult = mapResult.filter(function(e){
                    return (!(self._checkIfNullObject(e.controls)));
                });
                return finalResult;
            },
            _loadFacts: function(){
                var self =this;
                var verificationEngine = window.config.services.verificationEngine;
                self.$.http.get("/application", verificationEngine).then(function (data) {
                  self._loadJson(data);
                }).fail(function (e) {
                    console.log("_loadFacts error is ", e);
                });
            },
            _getFactByFactName: function(facts, factName){
                var fact = facts.filter(function(e){
                    return e.factName === factName;
                });
                return fact[0] || {};
            },
            _checkVerificationStatus: function(factObj,requiredObj){
                var self = this;
                if(!self._checkIfNullObject(factObj)){
                    requiredObj.attempts = factObj.attempts;
                    requiredObj.verificationSources = factObj.verificationSources;
                    if(factObj.hasOwnProperty("verificationStatus")){
                        if(factObj.verificationStatus === "None"){
                            requiredObj.initiated = true;
                            requiredObj.verifyButton = false;
                        }
                        if(factObj.verificationStatus === "Failed"){
                            requiredObj.initiated = false;
                            requiredObj.verifyButton = true;
                        }
                        if(factObj.verificationStatus === "Passed"){
                            requiredObj.initiated = false;
                            requiredObj.verifyButton = false;
                        }
                    }
                }
                return requiredObj;
            },
            _getAllFactStatus: function(factsConfig) {
                var self = this;
                var verificationEngine = window.config.services.verificationEngine;
                var url = "/application/" + self.applicationNumber;
                self.$.http.get(url, verificationEngine).then(function (data) {
                    var allFactStatus = data;
                    for(var i=0; i < factsConfig.length; i++){
                        var factObj = self._getFactByFactName(allFactStatus, factsConfig[i].fact);
                        var requiredObj = { verificationSources: [], attempts: [], initiated: false, verifyButton: true };
                        factsConfig[i] = $.extend({},factsConfig[i],self._checkVerificationStatus(factObj, requiredObj));
                    }
                    self.set("facts", factsConfig);
                }).fail(function (e) {
                    console.log("_loadFacts error is ", e);
                });
            },
            _loadJson: function (factsInfo) {
                var self = this;
                var base = window.config.services.jsonbase;
                var tenant = "/app/"+window.tenant.name+"/";
                var url = base + tenant + "/json/facts.json";
                $.getJSON(url, function (data) {
                     var facts = self._transformFacts(factsInfo, data);
                     self._getAllFactStatus(facts);
                }).success(function (data) {
                    //console.log("JSON success");
                }).fail(function (error) {
                    console.log("JSON error");
                });
            },
            attached:function(){
                this._loadFacts();
            },
            properties: {
                facts: {
                    type: Object,
                    notify: true,
                    value: []
                }
            }
        });
    </script>
</dom-module>
