<html-import html-href="services/workflow-service.html"></html-import>
<dom-module id="update-bank-statement">
    <template>
        <style></style>
        <workflow-service id="workflow"></workflow-service>
        <div class="some-random-class-yet-todefine">
            <form id="banking-form">
                <div class="form-group switch-buttons" id="ce_connect_bank_btn">
                    <label for="" class="control-label"></label>
                    <div class="btn-group banking-verfi-options" data-toggle="buttons" style="margin-bottom: 5px">
                        <label class="btn btn-primary">
                            <input type="radio" name="yes" id="" autocomplete="off">Upload Salary Bank Account Statement (PDF)
                        </label>
                    </div>
                    <input type="text" id="salary_validator" name="salary_validator" style="height: 0px; width: 0px; margin-bottom: 5px ; border: none;">
                </div>
                <div class="" id="ce_connect_bank_opt2" style="display:none;">
                    <div class="form-group input-label-anim">
                        <label class="control-label" for="">Your Salary Is Deposited In (Select Bank)</label>
                        <input type="text" name="bank" id="bank" maxlength="50" class="form-control" placeholder="Your Salary Is Deposited In (Select Bank)">
                    </div>
                    <div class="form-group input-label-anim bank" style="display: none;">
                        <label class="control-label" for="">Account Number</label>
                        <input type="password" name="account_number" maxlength="15" id="account_number" class="form-control" placeholder="Account Number">
                    </div>
                    <div class="form-group input-label-anim bank" style="display: none;">
                        <label class="control-label" for="">Confirm Account Number</label>
                        <input type="text" name="conf_account_number" maxlength="15" id="conf_account_number" class="form-control" placeholder="Confirm Account Number">
                    </div>
                    <div class="form-group input-label-anim bank" style="display: none;">
                        <label class="control-label" for="">IFSC code</label>
                        <input type="text" name="ifsc_code" id="ifsc_code" maxlength="11" class="form-control" placeholder="IFSC code"/>
                    </div>
                    <div class="bank" style="display: none;">
                        <vaadin-upload id="kyc" target="{{uploadTarged}}" method="POST" accept=".pdf" timeout=15000 form-data-name="file" on-upload-success="fileUploadSuccess"></vaadin-upload>
                    </div>
                </div>               
            </form>
        </div>
    </template>
    <script>
        Polymer({
            is: "update-bank-statement",
            properties: {
                proto: {
                    type: String,
                    value: '/application/{applicationNumber}/upload-statement',
                    notify: true
                },
                uploadTarged: {
                    type: String,
                    notify: true
                },
                applicationNumber :{
                    type:String,
                    notify:true
                }
            },
            fileUploadSuccess: function(event){
                console.log(event);
                $('#bank').hide();
                $('#account_number').val('');
                $('#conf_account_number').val('');
                $('#ifsc_code').val('');
            },
            ready: function () {
                var self = this;
                function setup() {
                    $('#ce_connect_bank_btn .btn input').change(function () {
                        $('#ce_connect_bank_opt2').show();
                    });

                    $('#bank').change(function () {
                        var selectedVal = $(this).val();
                        if(selectedVal == ''){
                            $('.bank').hide();
                        }
                    });

                    self.$.workflow.execute('lead', 'application', 'set-fake-app-number', {applicationNumber: self.applicationNumber})
                    .then(function(res){
                        self.$.workflow.execute('lead', 'application', 'bank-lookup', {}).then(function(result) {
                            var banks = result.instiutions.map(function (i) { return { id: i.id, value: i.name, institutionType: i.institutionType}; });
                            $('#bank').autocomplete({
                                source: banks,
                                select: function( event, ui ) {
                                    console.log('value selected');
                                    console.log(ui.item);
                                    self.$.workflow.execute('lead', 'application', 'start-tran', 
                                    { institutionId:ui.item.id, yearMonthFrom:'2015-02',yearMonthTo:'2016-02'}).then(function(result) {
                                        self.trans = result;
                                        var url = self.proto.replace('{applicationNumber}', self.applicationNumber);
                                        var perfiosService = window.config.services.perfiosService;
                                        self.set('uploadTarged', perfiosService + url);
                                    });
                                    $('.bank').show();
                                }
                            });
                        });

                        $('#bank').autocomplete({
                            source: function(query, done) {
                                self.$.workflow.execute('lead', 'application', 'bank-lookup', {'query': query.term})
                                .then(function(result) {
                                    done(result.instiutions);
                                });
                            },
                            onSelect: function(suggestion) {
                                alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
                            }
                        });
                    });
                };
                function validate_form() {
                    $("#banking-form").validate({
                        rules: {
                            bank: {
                                required: true
                            },
                            account_number: {
                                required: true
                            },
                            conf_account_number: {
                                required: true,
                                equalTo: "#account_number"
                            },
                            ifsc_code: {
                                required: true
                            }
                        },
                        messages: {

                        }
                    });
                };
                setTimeout(setup);
                setTimeout(validate_form, 200);
            }
        });
    </script>
</dom-module>