<dom-module id="instant-id-service">
    <template>
        <http-request-promisified id="$http"></http-request-promisified>
    </template>
    <script>
        Polymer({
            is: "instant-id-service",

            behaviors: [eventHub, publishLifecycleEventsBehavior],

            properties: {
                baseUrl: {
                    value: window.config.services.lexisnexis
                }
            },

            /**
             * Exchange a payload with name and andress for a set of questions
             * @param payload
             * @returns {*|any|Promise<any>}
             */
            fetchQuestions: function (payload) {
                var url = ["instantIdKba"].join("/");
                return this.$.$http.post(url, payload, this.baseUrl);
            },

            /**
             * Submit answers to id verification questions
             * @param payload
             * @returns {*|any|Promise<any>}
             */
            sendAnswers: function (payload) {
                var url = ["instantIdKba/continuation"].join("/");
                return this.$.$http.post(url, payload, this.baseUrl);
            }


        });
    </script>
</dom-module>