<dom-module id="dynamic-form">
    <template>
        <style ></style>

            <template is="dom-repeat" items="{{_toArray(formConfiguration.controls)}}">
                <div class="row">
                    <div class="col-md-12">
                        <template is="dom-if" if="{{_isTextbox(item.value.type)}}">
                            <paper-input value="{{_getValue(item.name)}}" name="{{item.name}}" id="{{item.name}}" on-change="stuffChanged" label="{{item.value.title}}" required char-counter auto-validate maxlength="{{item.value.validations.maxLen}}"></paper-input>
                        </template>
                        <template is="dom-if" if="{{_isDatePicker(item.value.type)}}">
                            <paper-input value="{{_getValue(item.name)}}" type="date" name="{{item.name}}" id="{{item.name}}" on-change="stuffChanged" label="{{item.value.title}}" required char-counter maxlength="{{item.value.validations.maxLen}}"></paper-input>
                        </template>
                        <template is="dom-if" if="{{_isCheckbox(item.value.type)}}">
                            <paper-checkbox checked="{{_getValue(item.name)}}" name="{{item.name}}" id="{{item.name}}" on-change="stuffChanged" required>{{item.value.title}}</paper-checkbox>
                        </template>
                    </div>
                </div>
             </template>
    </template>

    <script>
        Polymer({

            is: 'dynamic-form',
            properties: {
                'formConfiguration': {
                    type: Object
                },
                'values': {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true,
                    observer: '_valueChanged'
                }
            },
            _valueChanged: function () {
                //console.log('value changed.', this.values);
            },
            stuffChanged: function (event) {
                function extractValue() {
                    switch (event.target.tagName) {
                        case "INPUT":
                            return event.target.value;
                        case "PAPER-CHECKBOX":
                            return event.target.checked;
                        default:
                            return;
                    }
                }

                this.set('values.' + event.target.name, extractValue());
            },
            _isDatePicker: function(type){
                return type === 'date';
            },
            _isTextbox: function (type) {
                return type === 'textbox';
            },
            _isCheckbox: function (type) {
                return type === 'checkbox';
            },
            _getValue: function (name) {
                return this.values[name] || '';
            },
            _toArray: function (obj) {
                var ary = Object.keys(obj).map(function (key) {
                    return {name: key, value: obj[key]};
                });
                return ary;
            }
        });
    </script>
</dom-module>
