<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/dropdown-list.html"></html-import>
<html-import html-href="ui-elements/dropdown-element.html"></html-import>
<dom-module id="activity-list">
    <style>
        .alert {
            text-align: center;
        }
        #payment-search {
            width: 250px;
        }
        #length-selector {
            width: auto;
            display: inline-block;
            margin-right: 5px;
        }
        .header-right {
            position: absolute;
            right: 20px;
        }
        .footer-right {
            float: right;
        }
        .header {
            margin: 20px 0;
        }
        .header .input-group {
            width: 1px;
        }
        label {
            font-weight: normal;
        }
        .well {
            margin-top: 30px;
            text-align: center;
        }
        .status{
          text-align:left;
        }
        .tablecontainer{
          border-color:red;
        }
    </style>
    <template>
        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>

        <div class="tablecontainer">
        <div class="header">
            <span class="header-left">
                <label>
                    <select name="table_length" id="length-selector" class="form-control">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> activity per page
                </label>
            </span>
            <span class="header-right">
                <div class="inline-block">
                    <div class="input-group">
                        <input type="text" id="payment-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </span>
        </div>

        <table id="activity" class="table issue-tracker">
            <thead>
              <tr>
                 <th>Application Number</th>
                 <th>Activity Title</th>
                 <th>Description</th>
                 <th>Creation Date</th>
                 <th>Source</th>
             </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{activityList}}" as="item">
                  <tr>
                    <td>{{item.entityId}}</td>
                    <td><span>{{item.title}}</span></td>
                    <td>{{item.description}}</td>
                    <td>{{formatDate(item.activityDate)}}</td>
                    <td>{{item.event.source}}</td>
                </tr>
                </template>
            </tbody>
        </table>

        <div hidden$="{{!hasAlert}}" id="status-messageActivity" class="animated fadeIn well">No activity found</div>

        <div class="foot" hidden$="{{!hasActivities(activityList)}}">
            <div class="footer-right">
                <div id="paginationContainerActivity"></div>
            </div>
            <div class="footer-left">
                <div id="informationContainerActivity"></div>
            </div>
        </div>
      </div>
    </template>
    <script>
        Polymer({
            is : "activity-list",
            properties: {
                id: String
            },
            properties: {
                orderedLoans: {
                    type: Array,
                    notify: true
                }
            },
            ready: function() {
                this.hasMultipleOptions = false;
            },
            init: function () {

              var table = this.table = $(this.$.activity).DataTable({
                  stateSave: false,
                  sDom: '<"top">rt<"bottom"ip><"clear">',
                  //aaSorting: [[0, "desc"]],
                  columnDefs: [{
                      targets: 3,
                      orderable: true
                  }]
              })
              // .on( 'order.dt search.dt page.dt', function() {
              .on( 'order.dt search.dt', function() {
                console.log("inside order.dt ***");
                  this.setOrderedLoansIds();
              }.bind(this));
              // Custom search
              $(this.$["payment-search"]).on('input', function() {
                  table.search(this.value).draw();
              });
              var self = this;
          /*  table.on('page', function () {
              console.log("**** test");
              var info = table.page.info();
              console.log( 'Showing page: '+info.page+' of '+info.pages );
              self.fire("pageChange", {
                  dataTable: table,
              });
            } );*/

              // Custom Length Selector
              $(this.$["length-selector"]).on("change", function() {
                  table.page.len(this.value).draw();
              })

              $("#paginationContainerActivity").append($("#activity_paginate"));
              $("#informationContainerActivity").append($("#activity_info"));
              // Check if running in Chrome
              if (window.chrome) {
                  $(".dataTables_empty").html($("#status-messageActivity"));
              }
              if (!window.chrome) {
                  setTimeout(function() {
                      table.draw();
                  })
                  setTimeout(function() {
                      $(".dataTables_empty").html($("#status-messageActivity"));
                  })
              }

               this.setOrderedLoansIds();



            },
            attached: function(){
            },

            activityCount:function(){
              this.testFetchActivity();
              return this.activityList.length;
            },

            formatDate: function(date) {
                if (typeof this.$.format.formatDate === "function") {
                    return this.$.format.formatDate(date);
                }
                return "";
            },
            hasActivities: function() {
                return this.activityList.length > 0;
            },
            setOrderedLoansIds: function() {
                var result = [];
                var loans = this.table.rows({
                    order: 'applied',
                    // page: 'current',
                    search: 'applied'
                }).nodes();
                for (var i = 0; i < loans.length; i++) {
                    result.push($(loans[i]).find('td').first().text());
                }
                this.orderedLoans = result;
            }
        });
    </script>
</dom-module>
