<html-import html-href="app-view/filter.html"></html-import>
<html-import html-href="app-view/activity-wrapper.html"></html-import>
<html-import html-href="action-center/index.html"></html-import>
<html-import html-href="loan-view/index.html"></html-import>
<html-import html-href="applicant-block/index.html"></html-import>
<html-import html-href="application-block/index.html"></html-import>
<html-import html-href="fact-verification/index.html"></html-import>
<html-import html-href="app-view/status-management.html"></html-import>
<html-import html-href="document-manager/index.html"></html-import>
<html-import html-href="app-view/email/custom-email.html"></html-import>
<html-import html-href="app-view/document-view/index.html"></html-import>
<html-import html-href="app-view/document-view/doc-upload.html"></html-import>
<html-import html-href="app-view/applicationDetail.html"></html-import>
<html-import html-href="documents-upload/vaadin-upload.html"></html-import>
<html-import html-href="ancillary/ancillary.html"></html-import>
<html-import html-href="funding/funding.html"></html-import>
<html-import html-href="ancillary/update-ancillary-data.html"></html-import>
<html-import html-href="applications/approve-application.html"></html-import>
<html-import html-href="applications/reject-application.html"></html-import>
<html-import html-href="bank/upload-bank-statement.html"></html-import>
<html-import html-href="cashflow/update-cashflow.html"></html-import>
<html-import html-href="fraud/update-hunter-details.html"></html-import>
<html-import html-href="funding/update-funding-details.html"></html-import>
<html-import html-href="offers/final-offer.html"></html-import>
<html-import html-href="offers/initial-offer.html"></html-import>
<html-import html-href="offers/present-final-offer.html"></html-import>
<html-import html-href="offers/select-final-offer.html"></html-import>
<html-import html-href="offers/select-initial-offer.html"></html-import>
<html-import html-href="reapply/enable-reapply.html"></html-import>
<html-import html-href="social/social-linking.html"></html-import>
<html-import html-href="offers/offers.html"></html-import>
<html-import html-href="bank/update-bank-details.html"></html-import>
<html-import html-href="address/update-address.html"></html-import>
<html-import html-href="personal-details/personal-details.html"></html-import>
<html-import html-href="income-expense/update-income-expense.html"></html-import>
<html-import html-href="employment/update-employment.html"></html-import>

<!--<html-import html-href="loan-view/activities/log.html"></html-import>-->
<dom-module is="app-view">
  <style>
    .sidebar-panel{
      position: absolute;
      right: 0;
      width: 33.33333333%;
      padding: 10px 20px;
      background: #ebebed;
    }
    .activity-action-btn{
      padding: 10px;
      width: 100%;
      font-size: inherit;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus  {
      color: #555555 !important;
      cursor: default;
      background: white;
      border-bottom: #f3f3f4;
      border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
      border-image: none;
      border-style: solid;
      border-width: 1px;
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
    }
    .tab-content>.active {
          display: block;
          background: white;
    }
    .loan-summary .ibox-content {
			padding-bottom: 0;
		}
  </style>
  <template>
    <!-- <span>Dashboard</span> -->
    <http-request id="http"></http-request>
    <div class="container-fluid">
      <div class="row">
        <div id="sidebar" class="sidebar-panel col-md-4" style="display:none;">
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.GetInitOffer)}}">
            <loan-activity id="initial-offer-activity" activity-title="Get Initial Offer">
              <initial-offer id="initialOffer" class="loan-activity" application-number="{{applicationNumber}}"></initial-offer>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.Selectoffer)}}">
            <loan-activity id="select-initial-offer-activity" activity-title="Select Initial Offer">
              <select-initial-offer id="selectInitialOffer" class="loan-activity" application-number="{{applicationNumber}}"></select-initial-offer>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.AddActivity)}}">
            <loan-activity id="log-loan-activity" activity-title="Create New Activity">
              <log-application-activity id="activityLog" class="loan-activity" application-number="{{applicationNumber}}"></log-application-activity>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UploadDocs)}}">
            <loan-activity id="doc-upload-activity" activity-title="Upload Pending Document">
              <doc-upload id="docUpload" class="loan-activity" application-number="{{applicationNumber}}"></doc-upload>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UpdateAncillaryData)}}">
            <loan-activity id="update-ancillary-activity" activity-title="Update Ancillary Data">
              <save-ancillary application-number="{{applicationNumber}}"></save-ancillary>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.EnableReApply)}}">
            <loan-activity id="enable-reapply-activity" activity-title="Enable Re-apply">
              <enable-reapply id="enableReapply" class="loan-activity" application-number="{{applicationNumber}}"></enable-reapply>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.InitSocialLinking)}}">
            <loan-activity id="social-linking-activity" activity-title="Initiate Social Linking">
              <social-linking id="socialLinking" class="loan-activity" application-number="{{applicationNumber}}"></social-linking>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.SendEmail)}}">
            <loan-activity id="send-email-activity" activity-title="Send Email">
              <custom-email id="customEmail" applicant-number="{{applicantNumber}}" application-number="{{applicationNumber}}"></custom-email>
              <button on-click="showCustomEmail" class="btn btn-primary btn-xs activity-action-btn">Send Custom Email</button>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.ApproveApplication)}}">
            <loan-activity id="approve-application-activity" activity-title="Approve Application">
              <approve-application id="approveApplication" class="loan-activity" application-number="{{applicationNumber}}"></approve-application>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.RejectApp)}}">
            <loan-activity id="reject-application-activity" activity-title="Reject Application">
              <reject-application id="rejectApplication" class="loan-activity" application-number="{{applicationNumber}}"></reject-application>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UploadBankStatement)}}">
            <loan-activity id="update-bank-statement-activity" activity-title="Upload Bank Statement">
              <update-bank-statement id="updateBankStatement" class="loan-activity" application-number="{{applicationNumber}}"></update-bank-statement>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UpdateEditCashFlow)}}">
            <loan-activity id="update-cashflow-activity" activity-title="Edit/Update Cashflow">
              <update-cashflow id="updateCashflow" class="loan-activity" application-number="{{applicationNumber}}"></update-cashflow>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UpdateHunterDetails)}}">
            <loan-activity id="update-hunter-detail-activity" activity-title="Update Hunter/Fraud Details">
              <update-hunter-detail id="updateHunterDetail" class="loan-activity" application-number="{{applicationNumber}}"></update-hunter-detail>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UpdateFundingDetails)}}">
            <loan-activity id="update-funding-detail-activity" activity-title="Update Funding Details">
              <save-funding application-number="{{applicationNumber}}"></save-funding>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.GetFinalOffer)}}">
            <loan-activity id="final-offer-activity" activity-title="Get Final Offer">
              <final-offer id="finalOffer" class="loan-activity" application-number="{{applicationNumber}}"></final-offer>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.SelectFinalOffer)}}">
            <loan-activity id="select-final-offer-activity" activity-title="Select Final Offer">
              <select-final-offer id="selectFinalOffer" class="loan-activity" application-number="{{applicationNumber}}"></select-final-offer>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.PresentFinalOffer)}}">
            <loan-activity id="present-final-offer-activity" activity-title="Present Final Offer">
              <present-final-offer id="presentFinalOffer" class="loan-activity" application-number="{{applicationNumber}}"></present-final-offer>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UpdatePersonalDetails)}}">
            <loan-activity id="update-personal-details" activity-title="Update Personal Details">
              <personal-details id="personaldetails" class="loan-activity" application-number="{{applicationNumber}}"></personal-details>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UpdateAddress)}}">
            <loan-activity id="update-address" activity-title="Update Address">
              <update-address id="updateaddress" class="loan-activity" application-number="{{applicationNumber}}"></update-address>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UpdateEmployment)}}">
            <loan-activity id="update-employment" activity-title="Update Employment">
              <update-employment id="updateemployment" class="loan-activity" application-number="{{applicationNumber}}"></update-employment>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UpdateIncomeExpense)}}">
            <loan-activity id="update-income-expense" activity-title="Update Income/Expense">
              <update-income-expense id="updateincomeexpense" class="loan-activity" application-number="{{applicationNumber}}"></update-income-expense>
            </loan-activity>
          </template>
          <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UpdateBankDetails)}}">
            <loan-activity id="update-bank-details" activity-title="Update Bank Details">
              <update-bank-details id="updatebankdetails" class="loan-activity" application-number="{{applicationNumber}}"></update-bank-details>
            </loan-activity>
          </template>
          
        </div>
        <div class="wrapper wrapper-content col-md-8">
          <template is="dom-if" if="{{_getAppNumber(applicationNumber)}}">
              <application-detail application-number="{{applicationNumber}}" status-name={{filterCodeMapping}}></application-detail>
          </template>
          <template is="dom-if" if="{{_getAppNumber(applicationNumber)}}">
            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a data-target="#activity" data-toggle="tab">Activity List</a></li>
              <li><a data-target="#viewdocument" data-toggle="tab">View Document</a></li>
              <li><a data-target="#verification" data-toggle="tab">Verification</a></li>
              <li><a data-target="#offers" data-toggle="tab">Offers</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="activity">
                <template is="dom-if" if="{{_getAppNumber(applicationNumber)}}">
                  <activity-wrapper application-number="{{applicationNumber}}"></activity-wrapper>
                </template>
              </div>
              <div class="tab-pane" id="viewdocument">
                <template id="docViewTemplate" is="dom-if" if="{{_getAppNumber(applicationNumber)}}">
                  <doc-view facts="{{tabs}}" application-number="{{applicationNumber}}"></doc-view>
                </template>
              </div>
              <div class="tab-pane" id="verification">
                <template is="dom-if" if="{{_getAppNumber(applicationNumber)}}">
                  <!--  <action-center-app></action-center-app> -->
                  <!--  <document-manager></document-manager>-->
                  <fact-verification application-number={{applicationNumber}}></fact-verification>
                </template>
              </div>
              <div class="tab-pane" id="offers">
                <template is="dom-if" if="{{_getAppNumber(applicationNumber)}}">
                  <!--  <action-center-app></action-center-app> -->
                  <!--  <document-manager></document-manager>-->
                  <offer-view application-number={{applicationNumber}}></offer-view>
                </template>
              </div>
            </div>
          </template>
          <micro-app app-id="merchantTabs"></micro-app>
        </div>
      </div>
    </div>
    <div class="row" id="filterContainer">
      <template is="dom-if" if="{{_itemsLoaded(itemsLoaded)}}">
        <div class="col-md-12">
          <filter-table id="filter" filter-items="{{itemsMetadata}}" filter-mapping="{{filterCodeMapping}}" has-alert="{{hasAlert}}" ordered-loans="{{orderedLoans}}"></filter-table>
        </div>
      </template>
    </div>
    <http-request id="http"></http-request>
    <url-parser id="url"></url-parser>
  </template>
  <script>
        Polymer({
            is: "app-view",
          properties: {
            items:{
              type:Array,
              value:[]
            },
            itemsMetadata:{
              type:Array,
              value:[]
            },
            itemsLoaded:{
              type:Boolean,
              notify:true,
              value:false
            },
            statusList:{
              type:Array,
              value:[]
            },
             applicationNumber:{
                 type:String,
                 notify:true
             },
              applicantNumber:{
                  type:String,
                  notify:true,
                  value: "580763c62d2bf20007cdce8f"
              },
              documents:{
                type:Array,
                notify:true,
                value:[{'entity': 'application',
                'entityId': '1234',
                'fact': 'PanVerification',
                'verificationMethod': 'PanManual',
                'verificationSource': 'PANCardForm',
                'documentName': 'pancard',
                'supportedFormat':['image/png'],
                'maxFileSize':2}]
              },
              tabs:{
                type:Object,
                notify:true,
                value:[{tab:"View Documents",id:"viewDocument",content:"Fact1 Content"},{tab:"Upload Document",id:"uploadDocument",content:"Fact2 Content"}]
              },
              dataTableData:{
                type:Object,
                notify:true,
                value:{}
              },
              filterCodeMapping: {
                type: Object,
                notify: true,
                value: {
                  failedSub:"200.01", 
                  intoffer :"200.02",
                  intoffersel:"200.03",
                  cashflow :"tag/Bank Pending",
                  sociallink :"tag/Social Pending",
                  review :"200.05",
                  offeracceptance:"200.06",
                  empveri:"tag/Employment Pending",
                  resiveri:"tag/Residence Pending",
                  pendocs:"tag/Pending Documents",
                  approval :"200.07",
                  fraudreview :"200.08",
                  creditreview:"200.09",
                  rblfollowup:"tag/RBL Followup",
                  funding :"200.11",
                  rejected :"200.16",
                  expired:"200.15",
                  cancelled:"200.13"
                }
              },
              componentMap: {
                  type:Object,
                  notify:true,
                  value: {
                      GetInitOffer: false,
                      AddActivity: false,
                      SendEmail: false,
                      RejectApp: false,
                      Selectoffer: false,
                      UploadBankStatement: false,
                      InitSocialLinking: false,
                      UploadDocs: false,
                      UpdateEditCashFlow: false,
                      GetFinalOffer: false,
                      PresentFinalOffer: false,
                      SelectFinalOffer: false,
                      UpdateAncillaryData: false,
                      ApproveApplication: false,
                      UpdateHunterDetails: false,
                      UpdateFundingDetails: false,
                      EnableReApply: false,
                      UpdatePersonalDetails:false,
                      UpdateAddress:false,
                      UpdateEmployment:false,
                      UpdateIncomeExpense:false,
                      UpdateBankDetails:false
                  }
              }
          },
            _itemsLoaded: function () {
              return this.itemsLoaded;
            },
            _getColumns: function () {
              var columns = [
                { "title": "Application Number" },
                { "title": "Applicant Name" },
                { "title": "Submitted Date" },
                { "title": "Mobile  Number" },
                { "title": "Requested Amount" },
                { "title": "Status" }
              ];
              return columns;
            },
            _mergeColumnsAndData: function () {
              var columns = this._getColumns();
              this.itemsMetadata = [{
                "COLUMNS": columns,
                "DATA": this.items
              }];
            },
            _application_loaded: function (event) {
              this.set('applicantNumber', event.detail.applicantId);
            },
            _showComponentTemplate: function(applicationNumber, val){
              if (this.applicationNumber && val) {
                return true;
              }
              return false;
            },
            _getAppNumber: function () {
              if (this.applicationNumber) {
                return true;
              }
              return false;
            },
            _applicantInfoLoaded: function () {
              if (this.applicantNumber != "580763c62d2bf20007cdce8f") {
                return true;
              }
              return false;
            },
            _statusListEmpty: function () {
              if (this.statusList && this.statusList.length > 0) {
                return !false;
              }
              return !true;
            },
            _resetComponentMap: function(){
              var self = this;
              var keys = Object.keys(self.componentMap);
              for(var i=0; i< keys.length; i++){
                  self.componentMap[keys[i]] = false;
              }
            },
            _initializeComponentStatus: function() {
              var self = this;
              var actions;
              var params = self.$.url.getParams();
              var componentMap = self.componentMap;
              //  var base = window.config.base;
              var base = window.config.services.jsonbase;
              var tenant = "/app/"+window.tenant.name+"/";
              var url = base + tenant + "/json/actions.json";
              $.getJSON(url, function (data) {
                actions = data[params.filter];
                var keys = Object.keys(componentMap);
                if(actions != undefined){
                  var actionKeys = Object.keys(actions);
                  for(var i=0; i< keys.length; i++){
                    if(actionKeys.indexOf(keys[i]) != -1){
                      self.componentMap[keys[i]] = actions[keys[i]];
                    }else{
                      self.componentMap[keys[i]] = false;
                    }
                  }
                }
                else{
                  self._resetComponentMap();
                }
              }).success(function (data) {
                  console.log("JSON success");
              }).fail(function (error) {
                  console.log("JSON error");
              });
            },
            _endPointUrl: function (filter) {
              var code = this.filterCodeMapping[filter];
              if (code == undefined) {
                return "/all";
              } else if(code.includes("tag")) {
                return "/" + code;
              }else{
                return "/status/" + code;
              }
            },
            attached: function () {
              var self = this;
              var params = self.$.url.getParams();

              self.pendingRequests = [];
              self.pagingState = null;
              self.hasAlert = false;
              self.filterLoaded = false;
              self.orderedLoans = [];
              self.viewingLoan = !!params.loan;
              self.currentLoanIndex;

              self.filterTitle = params.filter;

              self.addEventListener("nextLoan", self.nextLoan.bind(self));
              self.addEventListener("previousLoan", self.previousLoan.bind(self));
              self.addEventListener("reinitializeFilterItems", self._reinitializeFilterItems.bind(self));
              this._initializeFilterItems();
              this._initializeComponentStatus();
              self.set("items", []);
              self.hasAlert = true;

            },
          observers: ['setState(currentLoanIndex, orderedLoans.length)'],
          _reinitializeFilterItems:function(e){
            this._initializeFilterItems();
          },
          _initializeFilterItems:function(){
            var self = this;
            var params = self.$.url.getParams();
            var url = self._endPointUrl(params.filter);
            var loanFilters = window.config.services.loanFilters;
            self.$.http.get(url, loanFilters).then(function (data) {
                  self.set('items', data);
                  self._mergeColumnsAndData();
                  self.itemsLoaded=true;
                  self.filterLoaded = true;
                  if(!self.items || !self.items.length){
                    self.set('hasAlert', true);
                  }else{
                    self.set('hasAlert', false);
                  }
                  var loansAlphaNumerical = self.items.sort().reverse();
                  if (self.viewingLoan) {
                      for (var i = 0; i < loansAlphaNumerical.length; i++) {
                          var item = loansAlphaNumerical[i];
                          self.push("orderedLoans", item.loanReferenceNumber);
                          if (params.app === item.loanReferenceNumber) {
                              self.currentLoanIndex = i;
                          }
                      }
                      return;
                  }

                  self.async(function() {
                      self.$$("#filter").addEventListener("viewLoan", self.openLoanView.bind(self));
                  });

                  function filterInit(){
                    console.log("filterInit called");
                    if(self.$.filter){
                    //  self.$.filter.init();
                    }else{
                      console.log("filterInit called before timeout");
                      setTimeout(filterInit, 10);
                    }
                  }
                  setTimeout(function () {
                    if(params.app){
                      if(params.code){
                        self._loadStatusList(undefined);
                      }else{
                        self._setupLoanView(undefined);
                      }
                  }
                }, 10);

                }).fail(function (e) {
                  console.log("Filter error is ",e);
                });
          },
          openLoanView: function(e) {
            var event = e;
            var self = this;
            self.set("statusName",e.detail.statusName);
            $("#filterContainer").hide();
            $("#sidebar").show();
            console.log("index openLoanView called");
            self._loadStatusList(e);
            //todo check this
          },
          _loadStatusList: function (e){
            var event = e;
            var params = this.$.url.getParams();
            var self = this;
            if(e){
            var statusCode = e.detail.statusCode
            }else{
            var statusCode = params.code;
            }
            var url = '/application/'+statusCode+'/transitions';
            var statusManagement = window.config.services.statusManagement;
            self.$.http.get(url, statusManagement).then(function (data) {
              self.set("statusList",data);
              self._setupLoanView(event);
              self.async(function() {
                  self.$$("#statusManagement").addEventListener("loadStatusList", self._loadStatusList.bind(self));
              });
            }).fail(function (e) {
              if(e.status==404){
                console.log("No further transitions available");
                self.set("statusList",null);
                self._setupLoanView(event);
                self.async(function() {
                    self.$$("#statusManagement").addEventListener("loadStatusList", self._loadStatusList.bind(self));
                });
              }
              console.log("Filter error is ",e);
            });
          },
          _setupLoanView: function(e){
            var params = this.$.url.getParams();
            if(e){
              this.applicationNumber=e.detail.loanReference;
            }else{
              this.applicationNumber=params.app;
            }
            console.log("applicationNumber  ***:",this.applicationNumber);
            this.viewingLoan = true;
            if(e){
              this.currentLoanIndex = e.detail.orderedIndex;
            }

            history.pushState({}, "", "/#/app-view/filter:" + params.filter + "/app:" + this.applicationNumber );
          },
          nextLoan: function() {
              this.goToLoan("next");
          },
          previousLoan: function() {
              this.goToLoan("previous");
          },
          goToLoan: function(direction) {
             var params = this.$.url.getParams();
             var canGoTo = {
                 next: this.currentLoanIndex < this.orderedLoans.length - 1,
                 previous: this.currentLoanIndex > 0,
             }[direction];
             var numeral = {
                 next: 1,
                 previous: -1
             }[direction]

             if (canGoTo) {
                 if (this.pendingRequests) {
                     for (var i = 0; i < this.pendingRequests.length; i++) {
                         var pendingRequest = this.pendingRequests[i];
                         pendingRequest.abort();
                         this.splice("pendingRequests", i, 1);
                     }
                 }
                 this.currentLoanIndex += numeral;
                 history.pushState({}, "", "/#/components-filter-view/filter:" + params.filter + "/loan:" + this.orderedLoans[this.currentLoanIndex]);
                 var req = this.$$("#loan").getLoan();
                 req.done(function() {
                     this.$$("#loan").resetView();
                 }.bind(this));
                 this.push("pendingRequests", req);
             }
          },
          setState: function(loanIndex, loans) {
              this.pagingState = {
                  loanIndex: loanIndex,
                  loansLength: this.orderedLoans.length
              };
          },
          _hideFilters:function(){
              var params = this.$.url.getParams();
              if(params.app){
                 $("#filterContainer").hide();
                 return;
              }
               $("#filterContainer").show();
          },
          ready:function(){
            this._hideFilters();
          },
          showCustomEmail:function(e){
            console.log("showCustomEmail is called");
            this.$$('#customEmail').show();
          }
        })
    </script>
</dom-module>
