<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/lendfoundry/behaviors/eventable-component-behavior.html">
<dom-module id="test-el">
    <script>
        Polymer({
            is: "test-el",
             behaviors: [alloy.eventableComponentBehavior],
        })
    </script>
</dom-module>