<dom-module>
    <template>
        <h1>radio button group</h1>
        <template 
            is="dom-repeat" 
            items="{{ buttons }}" 
            as="btn">
                <span class="{{computeClass(btn.value, groupValue)}}">
                    {{ btn.label }}
                </span>
        </template>
    </template>
    <script>
        Polymer({
            is: 'radio-button-group',
            properties: {
                buttons: {
                    type: Array
                }
            },
            computeClass: function (btnValue, groupValue) {
                if (btnValue === groupValue) {
                    return 'active';
                }
            }
            
        });
    </script>
</dom-module>
