<html-import html-href="ui-elements/inputs/text-input.html"></html-import>
<html-import html-href="ui-elements/inputs/input-label.html"></html-import>
<html-import html-href="ui-elements/inputs/select-input.html"></html-import>
<html-import html-href="ui-elements/forms/form-title.html"></html-import>
<html-import html-href="ui-elements/forms/form-group.html"></html-import>
<html-import html-href="ui-elements/forms/form-error.html"></html-import>
<html-import html-href="ui-elements/button-primary.html"></html-import>
<html-import html-href="ui-elements/promised-value.html"></html-import>
<html-import html-href="services/merchant-service.html"></html-import>
<html-import html-href="services/email-validation-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/spinner-service.html"></html-import>
<html-import html-href="radioButtonGroup.html"></html-import>

<dom-module id="save-ancillary">
    <template>

        
        <merchant-service id="merchantService"></merchant-service>
        <identity-service id="identityService"></identity-service>
        <spinner-service id="spinnerService"></spinner-service>

        <form class="form-horizontal">

            <form-block>
                <div class="col-sm-10 col-sm-offset-2">
                    <form-title content="Merchant Information"></form-title>
                </div>
            </form-block>

            <form-block error-keys="religion">
                <input-label class="col-sm-4">Religion</input-label>
                <div class="col-sm-8">
                    <select-input
                        id="religion"
                        placeholder="Religion"
                        items="{{ religion }}">
                    </select-input>
                    <form-error error-keys="religion" errors="{{ form.errors }}"
                                messages="{{ formMessages }}"></form-error>

                </div>
            </form-block>

            <form-block error-keys="category">
               <input-label class="col-sm-4">Category</input-label>
               <div class="col-sm-4">
                 <lf-radio-button-group
                 click-handler="{{ radioButtonClickHandler }}"
                 button-definitions="{{ categories }}"
                 group-value="{{ selectedCategory }}">
               </lf-radio-button-group>

                 <form-error error-keys="category" errors="{{ form.errors }}"
                           messages="{{ formMessages }}"></form-error>
               </div>
           </form-block>

            <form-block error-keys="maidenname">
                <input-label class="col-sm-4">Mothers Maiden Name</input-label>
                <div class="col-sm-8">
                    <text-input id="maidenname" placeholder="Legal Business Name"></text-input>
                    <form-error></form-error>
                </div>
            </form-block>


            <form-block class="text-right">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8 ">
                            <template is="dom-if" if="{{ !form.state.isSubmitting }}">
                                <input type="button" class="btn btn-primary" on-click="submit" disabled="{{ form.state.isSubmitting }}" value="Submit"/>
                            </template>
                            <template is="dom-if" if="{{ form.state.isSubmitting }}">
                                <input type="button" class="btn btn-primary" on-click="submit" disabled="{{ form.state.isSubmitting }}" value="Saving..."/>
                            </template>
                            or <span><a href="javascript:;" on-click="resetForm">Cancel</a></span>
                        </div>
                    </div>
                </div>
            </form-block>

        </form>

        <http-request id="http"></http-request>

        <style>
            .form-horizontal input-label.col-sm-2 {
                /*padding-right: 0px;*/
                text-align: right;
            }
        </style>

    </template>
    <script>
        Polymer({
            is: "save-ancillary",

            ready:function(){
                         this.set("radioButtonClickHandler", this.selectPaymentMethod.bind(this));
                       },
                       selectPaymentMethod: function(selectedCategory) {
             this.set("selectedCategory", selectedCategory);
           },

            attached: function () {
                var self = this;

                // Validate businessEmail field on blur
                // this.ensure("businessEmail").then(function (businessEmail) {
                //     $(businessEmail).find("input").each(function () {
                //         this.addEventListener("blur", function (event) {
                //             self.validateEmail(event.target.value);
                //         });
                //     });
                // });

                var submit = this.submit;
            },

            properties: {
                form: {
                    value: function () {
                        var self = this;

                        return {
                            state: {
                                isSubmitting: false,
                                submitCount: 0
                            },
                            data: {},

                            fields: [
                                "maidenname",
                                "religion"
                            ],

                            // Note that validation keys are arbitrary. They do not necessarily correspond to fields.
                            validate: function () {
                                isRequired = self.validators.isRequired;
                                isNotEqual = self.validators.isNotEqual;

                                var rules = {
                                    maidenname: function () {
                                        var maidenname = self.form.data.maidenname;
                                        return isRequired(maidenname);
                                    },
                                    religion: function () {
                                        var religion = self.form.data.religion;
                                        return isRequired(religion);
                                    }
                                };

                                return rules;
                            }
                        }
                    },
                    type: Object
                },
                religion:{
                  type:Array,
                  notify:true,
                  value:function(){
                      return [{
                        selected: true,
                        label:"Select Religion",
                        value:""
                      },{
                        selected: false,
                        label:"Hindu",
                        value:"Hindu"
                      },{
                        selected: false,
                        label:"Muslim",
                        value:"Muslim"
                      },{
                        selected: false,
                        label:"Christian",
                        value:"3"
                      },{
                        selected: false,
                        label:"Sikh",
                        value:4
                      },{
                        selected: false,
                        label:"Zoroastrian",
                        value:5
                      },{
                        selected: false,
                        label:"Jain",
                        value:6
                      },{
                        selected: false,
                        label:"Other",
                        value:7
                      }
                    ];
                  }
                },
                selectedCategory:{
                                  type:String,
                                  notify:true,
                                  value:"4"
                                },
                categories:{
                  type:Array,
                  notify:true,
                  value:function(){
                    return [{
                      label:"SC",
                      value:"SC"
                    },{
                      label:"ST",
                      value:"ST"
                    },{
                      label:"OBC",
                      value:"OBC"
                    },{
                      label:"General",
                      value:"General"
                    },{
                      label:"Other",
                      value:"Other"
                    }];
                  }
                }

            },
            behaviors: [
                eventHub,
                workflowActivityBehavior,
                formBehavior,
                formValidators,
                formMessages,
                alloy.ensureDependenciesBehavior
            ],
            mapFieldsToPayload: function (fields) {
                return this.$.merchantService.mapFieldsToEnrollPayload(fields);
            },
            completeForm: function (event) {
                var self = this;
                var payload = self.mapFieldsToPayload(self.form.data);
                var email = self.form.data.businessEmail;
                self.showSpinner();
                var payload={
                     "Category":self.selectedCategory,
                     "Religion":self.form.data.religion,
                     "MothersMaidenName":self.form.data.maidenname
                   };
                var offerEngine = window.config.services.offerEngine;
                var url = "/application/" + self.applicationNumber + "/ancillarydata";

                self.$.http.post(url, payload, offerEngine).then(function (data) {
                    console.log("save ancillarydata called successfully ", data);
                    self.hideSpinner();
                }).fail(function (e) {
                    console.log("save ancillarydata error is ----->",e);
                    self.hideSpinner();
                });
            },
            resetForm:function(){
              console.log("reset is called");
              document.forms[0].reset();
            }
        });
    </script>
</dom-module>
