<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="ui-elements/sk-wave.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module id="reset-password">
    <style>
         :host {
            position: relative;
        }
        
        #login-icon {
            margin-top: 0;
        }
    </style>
    <template>
        <div class="ce-loan-apply-container" hidden$="{{resetSuccess}}">
            <div class="col-sm-12">
                <div class="ce-loan-apply-slide">
                    <div class="slide-controler">
                    </div>
                    <h2>Reset account</h2>
                    <p class="short-decription">Please select a password to save and retrieve your application.</p>
                    <form id="reset-form">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="slide-box slide-loan-amount">
                        <!--<div class="form-group input-label-anim">-->
                            <!--<label for="v" class="control-label">Username</label>-->
                            <!--<input id="username" type="text" placeholder="Username" class="form-control" value="{{username::input}}">-->
                        <!--</div>-->

                        <div class="form-group input-label-anim">
                            <label for="v" class="control-label">Password</label>
                            <input id="newPassword" name="newPassword" type="password" class="form-control" maxlength="15" placeholder="Password" value="{{newPassword::input}}" autocomplete="off">
                        </div>
                        <div class="form-group input-label-anim">
                            <label for="v" class="control-label">Confirm Password</label>
                            <input id="verifyPassword" name="verifyPassword" type="password" class="form-control" maxlength="15" placeholder="Confirm Password" value="{{verifyPassword::input}}" autocomplete="off">
                        </div>
                        </div>
                        <spinkit-wave hidden$="{{!spin}}"></spinkit-wave>
                        <div class="slide-action"><a hidden$="{{spin}}" on-click="resetPassword" class="btn btn-default">Submit</a></div>
                    </form>
                </div>
            </div>
        </div>

        <div hidden$="{{!resetSuccess}}">
            <div class="alert alert-success">Password Reset</div>
            <button class="btn btn-primary block full-width m-b" on-click="goToLogin">Continue to Login</button>
        </div>


        <event-hub id="hub"></event-hub>
        <identity-service id="identity"></identity-service>

    </template>
    <script>
        Polymer({
            is: "reset-password",
            properties: {
                passToken: {
                    type: String,
                    notify: true
                }
            },
            attached: function() {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;

                self.hasError = false;
                self.resetSuccess = false;
                self.spin = false;

                self.username = "";
                self.newPassword = "";
                self.verifyPassword = "";

                self.token = window.location.search.split('=')[1];

                return function() {
                    $(self.$.username).on("keydown", function(e) {
                        if (e.which === 13) {
                            $(self.$.newPassword).focus();
                        }
                    });
                    $(self.$.newPassword).on("keydown", function(e) {
                        if (e.which === 13) {
                            $(self.$.verifyPassword).focus();
                        }
                    });
                    $(self.$.verifyPassword).on("keydown", function(e) {
                        if (e.which === 13) {
                            self.resetPassword();
                        }
                    });

                    function validate_form() {
                        $("#reset-form").validate({

                            rules: {
                                newPassword: {
                                    required: true
                                },
                                verifyPassword: {
                                    required: true,
                                    equalTo: '#newPassword'
                                }
                            },
                            messages: {}
                        });
                    }
                    setTimeout(validate_form, 100);
                }
            },
            resetPassword: function() {
                if (!$('#reset-form').valid()) {
                    return;
                }

                var self = this;

                // var $inputs = $("input", self)
                // $inputs.removeClass("error");
                // for (var i = 0; i < $inputs.length; i++) {
                //     var input = $inputs[i];
                //     if (input.value === "") {
                //         $(input).addClass("error");
                //         return self.setErrorMessage("Fields must be filled out");
                //     }
                // }

                // if (self.newPassword !== self.verifyPassword) {
                //     return self.setErrorMessage("Passwords do not match");
                // }

                self.spin = true;

                self.$.identity.resetPassword(self.username, self.newPassword, self.token)
                    .done(function() {
                        self.spin = false;
                        self.resetSuccess = true;
                    })
                    .fail(function(err) {
                        self.spin = false;
                        self.setErrorMessage(err.statusText);
                    })
            },
            goToLogin: function() {
                window.location = window.config.login + "#components-security-login"
            },
            setErrorMessage: function(message) {
                this.hasError = true;
                this.$["error-message"].innerHTML = message;
            }
        })
    </script>
</dom-module>