<dom-module id="syndication-service">
  <template>
    <http-request id="http"></http-request>
  </template>

  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'syndication-service',
        getEmailAddressDetails: function (emailAddress) {
          var self = this;

          return self.$.http.post(
             '/EmailVerifier',
              {
                "email": emailAddress
              },
              window.config.services.emailhunter);

        }
      });
    })();
  </script>
</dom-module>
