<html-import html-href="event/hub.html"></html-import>
<html-import html-href="radioButtonGroup.html"></html-import>
<html-import html-href="ui-elements/lf-alert.html"></html-import>
<dom-module id="modify-payment-method">
    <style>
        .radio label {
            padding-left: 0;
            padding-right: 20px;
            cursor: pointer;
        }
        
        tbody td {
            vertical-align: inherit;
        }
        
        table td button.btn {
            margin-bottom: 0;
        }
    </style>
    <template>
        <div class="formGroup">
            <lf-alert 
                alert-cfg="{{ alertCfg }}"
                click-handler="{{ alertClickHandler }}"
                hidden$="{{ shouldHideErrorMessage(errorMessage) }}">
                {{ errorMessage }}
             </lf-alert>
        </div>

        <div class="form-group">
            <lf-radio-button-group 
                click-handler="{{ radioButtonClickHandler }}" 
                button-definitions="{{ radioButtons }}" 
                group-value="{{ selectedPaymentMethod }}">
            </lf-radio-button-group>
        </div>
        <div class="form-group">
            <table class="table table-striped table-bordered table-hover" hidden$="{{ shouldHideBankList(paymentMethod, bankInfo) }}">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Routing</th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{ currentLoan.bankInfo }}" as="bank">
                        <tr>
                            <td>
                                <span>{{ bank.accountNumber }}</span>
                                <span hidden$="{{ !bank.isPrimary }}" class="label label-primary pull-right">P</span>
                            </td>
                            <td>{{ bank.routingNumber }}</td>
                        </tr>
                    </template>
    </tbody>
    </table>
    </div>

    <button class="btn btn-primary" on-click="submit">
            Submit
        </button> or
    <span><a on-click="cancel">Cancel</a></span>

    <http-request id="http"></http-request>
    <event-hub id="hub"></event-hub>
    </template>
    <script src="./modify-payment-method.js" charset="utf-8"></script>
</dom-module>